In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt

def data_frame_cleaning:
    df_2 = df2.dropna(how='all', axis=0)
    df_3= df_2.drop_duplicates(subset = ["Case Number.1", "Case Number.2"], inplace=False, keep="last")
    df_4= df_3.drop_duplicates(subset = ["href formula", "href"], inplace=False, keep="first")
    return df

def Years_cleaning:
    df4 = df_4.dropna(subset=["Year"])
    df5 = df4.dropna(subset=["Date"])
    df5['New_Year'] = df5['Date'] # create a new column with the same values as the original "Year" column
    df5["All_years"] = df5["New_Year"].str.extract("(\d{4})")
    df6 = df5.dropna(subset=["All_years"])
    df6['Year'] = df6['Year'].astype(int)
    df6['All_years'] = df6['All_years'].astype(int)
    df6.loc[df4['Year'] < 1542, 'Year'] = df6.loc[df4['Year'] < 1542, 'All_years']
    return df

def Country_cleaning:
    df6.loc[df6['Country'].isnull(), 'Country'] = df6['Area'] 
    n_nulls = df6['Country'].isnull().sum()
    df6.loc[df6['Country'].isnull(), 'Country'] = df6['Location']
    df7 = df6.dropna(subset=["Country"])
    df7['Country'] = df7['Country'].str.upper()
    df7.insert(5, "Oceans", "")
    for index, row in df7.iterrows():
    if row['Country'] in north_atlantic:
        df7.at[index, 'Oceans'] = 'North_Atlantic'
    for index, row in df7.iterrows():
    if row['Country'] in south_atlantic:
        df7.at[index, 'Oceans'] = 'South_Atlantic'
    for index, row in df7.iterrows():
    if row['Country'] in north_pacific:
        df7.at[index, 'Oceans'] = 'North_Pacific'
    for index, row in df7.iterrows():
    if row['Country'] in south_pacific:
        df7.at[index, 'Oceans'] = 'South_pacific'
    for index, row in df7.iterrows():
    if row['Country'] in mediterranean_sea:
        df7.at[index, 'Oceans'] = 'Mediterranean_Sea'
    for index, row in df7.iterrows():
    if row['Country'] in caribbean_sea:
        df7.at[index, 'Oceans'] = 'Caribbean_Sea'
    for index, row in df7.iterrows():
    if row['Country'] in Bay_bengal_andaman_sea:
        df7.at[index, 'Oceans'] = 'Bay_bengal_andaman_sea'
    for index, row in df7.iterrows():
    if row['Country'] in red_sea:
        df7.at[index, 'Oceans'] = 'Red_Sea'
    for index, row in df7.iterrows():
    if row['Country'] in indian_ocean:
        df7.at[index, 'Oceans'] = 'Indian_Ocean'
    for index, row in df7.iterrows():
    if row['Country'] in south_china_sea:
        df7.at[index, 'Oceans'] = 'South_China_Sea'
    for index, row in df7.iterrows():
    if row['Country'] in persian_golf:
        df7.at[index, 'Oceans'] = 'persian_golf'
    for index, row in df7.iterrows():
    if row['Country'] in adriatic_sea:
        df.at[index, 'Oceans'] = 'Adriatic_Sea'
    ocean_rows = df7['Country'].str.contains('OCEAN')
    ocean_names = df.loc[ocean_rows, 'Country'].str.extract(r'(\w+\sOCEAN)')
    df.loc[ocean_rows, 'Oceans'] = ocean_names.values
    df['Oceans'] = df['Oceans'].replace(ocean_dict)
    no_ocean_applied=df['Oceans']==""
    df=df.drop(df8[no_ocean_applied].index)
    return df

def time_cleaning:
    df9 = df8.dropna(subset=["Time"])
    df9['Cleaned_Time'] = df9['Time'].str.extract(r'^(\d+)h')
    df9.loc[df9['Cleaned_Time'].str.contains(r'^\d{2}$') & df9['Cleaned_Time'].notnull(), 'Time'] = df9['Cleaned_Time']
    subset = df9.loc[:, ['Time', 'Cleaned_Time']]
    df9['time frame'] = df9['Time'].str.extract(r'([a-zA-Z]{2,})').fillna('') #matches any sequence of 2 or more consecutive letters
    def set_time_frame(time):
        time = int(time)
        if 6 <= time <= 9:
            return 'Sunrise'
        elif 10 <= time <= 13:
            return 'Morning'
        elif 14 <= time <= 18:
            return 'Afternoon'
        else:
            return 'Night'
    df9['Cleaned_Time'] = df9['Cleaned_Time'].fillna(0).astype(int)
    df9['Time frame'] = df9['Cleaned_Time'].apply(set_time_frame)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2605793822.py, line 11)